<footer class="bg-dark footer mt-auto py-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 px-3">

      <p class="col-md-4 mb-0 text-secondary">&copy;2022-{{ "now"|date("Y") }} {{ constant('SITE_NOME')}}</p>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="http://localhost/aprenderphp" class="nav-link px-2 text-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="http://localhost/aprenderphp/sobre" class="nav-link px-2 text-secondary">Sobre</a>
        </li>
      </ul>
    </div>
</footer>